@page "/"
@using ScavHunt.Data.Models
@inject PlayerService players;
@inject NavigationManager nav

<PageTitle>SIGGRAPH 2023 - Scavenger Hunt</PageTitle>

@if(Mode == LandingMode.Loading){
    <Spinner CssClass="d-flex justify-content-center"/>
    <div></div>
}

@if(Mode == LandingMode.Register)
{
    <LandingRegisterComponent />
}

@if (Mode == LandingMode.Landing)
{
    <LandingPlayerComponent Player="@player" />
}


@code
{
    Player? player { get; set; }

    LandingMode Mode { get; set; }
    enum LandingMode
    {
        Loading,
        Register,
        Landing
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender)
        {
            return;
        }

        player = await players.GetCurrentFull();

        if(player == default)
        {
            Mode = LandingMode.Register;
        }
        else
        {
            if(string.IsNullOrWhiteSpace(player.User.BadgeId))
            {
                nav.NavigateTo("/badge");
            }
            else
            {
                Mode = LandingMode.Landing;
            }
        }

        StateHasChanged();
    }
}