@using System.Text.RegularExpressions

@inject JSInterop js;
@inject NavigationManager nav;

<Modal Id="@Id" Title="@Title" CloseText="@CloseText">
    <div class="row">
        <div class="input-group mb-3">
            <div class="d-table">
                <span class="d-table-cell align-middle">Select Camera</span>

            </div>
            <select id="camera-select" class="form-select d-inline-block ms-3">
                <option>Select a camera</option>
            </select>
        </div>
    </div>
    <div class="row">
        <video id="scannerVideo">

        </video>
    </div>
</Modal>

@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string? CloseText { get; set; }

    [Parameter]
    public EventCallback<string> Success { get; set; }

    [JSInvokable]
    public async Task QRResult(string result)
    {
        await Success.InvokeAsync(result);
    }

    public async Task Show()
    {
        var objRef = DotNetObjectReference.Create(this);

        await js.SetupScanner(objRef, Id, "scannerVideo");
    }

    public async Task Hide()
    {
        await js.HideModal(Id);
    }
}
