@using System.Text.RegularExpressions

@inject JSInterop js;
@inject NavigationManager nav;

<Modal Id="@Id" Title="@Title" CloseText="@CloseText">
    <div class="row">
        <video id="scannerVideo">

        </video>
    </div>
</Modal>

@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string? CloseText { get; set; }

    [Parameter]
    public EventCallback Success { get; set; }

    [JSInvokable]
    public async Task QRResult(string result)
    {
        var regex = $"hunt\\.siggraph\\.org/q/([a-zA-Z\\d]+)";
        var match = Regex.Match(result, regex);
        if (match.Success)
        {
            var code = match.Groups[1].Value;
            Console.WriteLine(code);
            nav.NavigateTo($"/q/{code}");
        }
        else
        {
            Console.WriteLine("Invalid format");
        }
    }

    public async Task Show()
    {
        var objRef = DotNetObjectReference.Create(this);

        await js.SetupScanner(objRef, Id, "scannerVideo");
    }
}
