@using ScavHunt.Data.Models
@inherits LayoutComponentBase
@inject AlertService alerts
@inject MarkdownService md
@inject NavigationManager navigation
@inject JSInterop js

<PageTitle>SIGGRAPH 2023 - Scavenger Hunt</PageTitle>

<div class="page">
    <main class="d-grid" style="grid-template-rows: auto auto 1fr auto;">
        <NavMenu />

        <div id="alerts" class="container bg-white">
            @if (Active != null)
            {
                @foreach (var alert in Active)
                {
                    <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
                        <h4 class="alert-heading">@alert.Title</h4>
                        <div>@md.Render(alert.Message)</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            }
            <AuthorizeView Roles="admin">
                <Authorized>
                    <div class="alert alert-warning show mb-3" role="alert">
                        <h4 class="alert-heading">Notice</h4>
                        <div>Currently logged in as an administrator</div>
                    </div>
                </Authorized>
            </AuthorizeView>

        </div>

        <article class="content bg-white">
            @Body
        </article>
        <footer class="footer">
            <div class="container">
                <div class="row mt-3 pt-3">
                    <div class="col-lg mb-3">
                        <img class="footer-logo my-auto mx-auto d-block" src="/assets/logo_full_white.png" alt="SIGGRAPH" />
                    </div>
                    <div class="col-sm text-center mb-3">
                        <div class="footer-col-title">SIGGRAPH Info</div>
                        <div>
                            <NavLink class="footer-col-link text-primary" href="https://s2023.siggraph.org/">Event Home</NavLink>
                        </div>
                    </div>
                    <div class="col-sm text-center mb-3">
                        <div class="footer-col-title">Scavenger Hunt Info</div>
                        <div>
                            <NavLink class="footer-col-link text-primary" href="/info/rules">Rules</NavLink>
                        </div>
                        <div><NavLink class="footer-col-link text-primary" href="/info/support">Support</NavLink></div>
                        <div><NavLink class="footer-col-link text-primary" href="/info/thanks">Special Thanks</NavLink></div>
                    </div>
                </div>
                <div class="row text-end py-3 text-muted">
                    <div class="col-sm">&copy; 2023 - Legal stuff</div>
                </div>
            </div>
        </footer>
    </main>
</div>

@code {
    List<Alert> Active { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Active = await alerts.ActiveAlerts();
        navigation.LocationChanged += async (obj, args) =>
        {
            await js.HideNav("navCollapse");
        };
    }
}