@using ScavHunt.Data.Models
@inject PlayerService players

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>


        @if(loggedIn == default)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="player" Match="NavLinkMatch.All">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Sign In
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="player" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> Profile
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="player/logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
        }

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Admin
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                @*This is left here for dev*@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Admin
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    Player? loggedIn { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender)
        {
            return;
        }
        loggedIn = await players.GetCurrent();
        StateHasChanged();
    }
}
