@page "/admin/accounts/{id}"
@attribute [Authorize(Roles = "admin")]
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager;
@inject NavigationManager navManager;

<div class="container">
    @if (User != null)
    {
        <h3>AccountEdit</h3>
        <form @onsubmit="(async() => await saveAccount())">
            <input class="form-control mb-3" readonly @bind-value="User.Email" />
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" @bind="IsAdmin" id="adminCheckbox">
                <label class="form-check-label" for="adminCheckbox">
                    Is Administrator
                </label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" @bind="IsAdmin" id="lockCheckbox">
                <label class="form-check-label" for="lockCheckbox">
                    Is Locked
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    }
</div>

@code {
    [Parameter]
    public string id { get; set; }

    IdentityUser User;
    bool IsAdmin { get; set; }

    IList<string> roles;

    protected override async Task OnInitializedAsync()
    {
        User = await userManager.FindByIdAsync(id);
        roles = await userManager.GetRolesAsync(User);
        if (roles.Contains("admin"))
        {
            IsAdmin = true;
        }

        await base.OnInitializedAsync();
    }

    async Task saveAccount()
    {
        if (IsAdmin && !roles.Contains("admin"))
        {
            await userManager.AddToRoleAsync(User, "admin");
        }

        if (!IsAdmin && roles.Contains("admin"))
        {
            await userManager.RemoveFromRoleAsync(User, "admin");
        }

        navManager.NavigateTo("/admin/accounts");
    }

}
