@page "/admin"
@attribute [Authorize(Roles = "admin")]

<div class="container p-3">
    <div class="row mb-3">
        <NavLink class="btn btn-outline-primary py-3" href="admin/accounts">
            <span class="oi oi-person"></span> Accounts
        </NavLink>
    </div>
    <div class="row mb-3">
        <NavLink class="btn btn-outline-primary py-3" href="admin/questions">
            <span class="oi oi-question-mark"></span> Questions
        </NavLink>
    </div>
    <div class="row mb-3">
        <NavLink class="btn btn-outline-primary py-3" href="admin/players">
            <span class="oi oi-person"></span> Players
        </NavLink>
    </div>
    <div class="row mb-3">
        <NavLink class="btn btn-outline-primary py-3" href="admin/alerts">
            <span class="oi oi-bell"></span> Alerts
        </NavLink>
    </div>
    <div class="row mb-3">
        <NavLink class="btn btn-outline-primary py-3" href="admin/prizes">
            <span class="oi oi-badge"></span> Prizes
        </NavLink>
    </div>
    <div class="row mb-3">
        <NavLink class="btn btn-outline-primary py-3" href="admin/log">
            <span class="oi oi-clipboard"></span> Log
        </NavLink>
    </div>
    <div class="row mb-3">
        <NavLink class="btn btn-outline-primary py-3" href="admin/debug">
            <span class="oi oi-wrench"></span> Debug
        </NavLink>
    </div>
</div>