@page "/info/info"

<div class="container">

    <div class="position-relative overflow-hidden">
        <div class="position-absolute line-bg">
        </div>
        <div class="row spacer bg-primary p-3">
            <div class="header col-xl-4 mb-3 z-index-4">
                <h1>About the game</h1>
            </div>
            <div class="col-xl-8 my-auto z-index-4">
                <div class="list-group list-group-flush p-3 mb-3 bg-secondary">

                    <p>
                        This is a trivia based scavenger hunt  game. The trivia questions are all related to the CG industry and SIGGRAPH. In the tradition of the Guerilla Studio at SIGGRAPH in the early 2000s, this game was developed and administered by a small team of volunteers with too much to do and not nearly enough time. We hope what it might lack in polish won’t distract from the fun of the game. We plan to award the 10 top point earners a pretty awesome backpack chock full of some vintage swag, and maybe a few other surprises. Plus there will be prizes handed out throughout the week. You gotta play to win!
                    </p>
                    <p>
                        Post your adventure using the hashtag #SIGGRAPHScavengerHunt but don’t show the complete QR codes to your opponents!
                    </p>

                </div>
            </div>
        </div>
        <div class="row spacer bg-secondary p-3">
            <div class="header col-xl-4 mb-3 z-index-4">
                <h1>How to Play</h1>
            </div>
            <div class="col-xl-8 my-auto z-index-4">
                <div class="list-group list-group-flush p-3 mb-3 bg-secondary">
                    <div class="list-group-item bg-transparent">Register at hunt.siggraph.org, or scan your first QR code and then register. </div>
                    <div class="list-group-item bg-transparent">When you find QR codes, scan them either from the game or your camera. </div>

                    <div class="list-group-item bg-transparent">Some QR codes have questions, answer the questions, and get points. The more tries it takes, the fewer points you get. After you get one right, you can read a little more information about the question and answer, and get a clue to help you find another QR code somewhere else. </div>

                    <div class="list-group-item bg-transparent">Other QR codes are bonuses, scanning them will just get you points. You might get clues to some of these, or, you might just see them as you wander around the conference. </div>

                    <div class="list-group-item bg-transparent">Some QR codes are attached to people. You need to find them and ask them nicely and they’ll let you scan the QR for points. </div>

                    <div class="list-group-item bg-transparent">There’s a leaderboard where you can see how well you’re doing compared to the competition.</div>

                </div>
            </div>
        </div>
    </div>
    <div class="row p-3 mb-3">
        <div class="header col-xl-4 mb-3">
            <h1>Game Rules</h1>

        </div>
        <div class="col-xl-8 my-auto">
            <div class="list-group list-group-flush ps-3 mb-3">
                <div class="list-group-item bg-transparent">You must be a registered SIGGRAPH 2023 attendee to play the game and win prizes.</div>

                <div class="list-group-item bg-transparent">You must be present to win! We will have a prize ceremony on Thursday (most likely at noon, but we’ll send out an announcement). If you’re not in attendance when your name is called, we’ll move on to the next name on the list. So, check the leaderboard and be there!</div>

                <div class="list-group-item bg-transparent">Winners may be required to show the game on their mobile device and/or show their conference badge. This is especially important if we cannot tell who you are by your screen name in the leaderboard. </div>

                <div class="list-group-item bg-transparent">We reserve the right to remove people from the game for bad behavior. So, please play nice, and be friendly and civil to other players, and attendees in general.</div>

            </div>
        </div>
    </div>
</div>