@page "/info/support"

<div class="container">

    <div class="position-relative overflow-hidden">
        <div class="position-absolute line-bg">
        </div>
        <div class="row spacer bg-primary p-3">
            <div class="header col-xl-4 mb-3 z-index-4">
                <h1>1</h1>
            </div>
            <div class="col-xl-8 my-auto z-index-4">

            </div>
        </div>
        <div class="row spacer bg-secondary p-3">
            <div class="header col-xl-4 mb-3 z-index-4">
                <h1>2</h1>
            </div>
            <div class="col-xl-8 my-auto z-index-4">

            </div>
        </div>
    </div>
    <div class="row p-3 mb-3">
        <div class="header col-xl-4 mb-3">
            <h1>3</h1>

        </div>
        <div class="col-xl-8 my-auto">

        </div>
    </div>
</div>