@page "/info/support"

<div class="container">

    <div class="position-relative overflow-hidden">
        <div class="position-absolute line-bg">
        </div>
        <div class="row spacer bg-primary p-3">
            <div class="header col-xl-4 mb-3 z-index-4">
                <h1>Support</h1>
            </div>
            <div class="col-xl-8 my-auto z-index-4">
                <dl class="row p-3 mb-3 bg-secondary">
                    <dt class="col-3">In Person</dt>
                    <dd class="col-9">You can typically find us at the Pathfinder Booth located at [PATHIFNDER BOOTH LOCATION].</dd>
                    <dt class="col-3">E-Mail</dt>
                    <dd class="col-9">You can email us at <a href="mailto:hunt@acmsiggraph.org">hunt@acmsiggraph.org</a></dd>
                </dl>
            </div>
        </div>
    </div>
</div>