@page "/info/thanks"

<div class="container  mb-3">

    <div class="position-relative overflow-hidden">
        <div class="position-absolute line-bg">
        </div>
        <div class="row spacer bg-primary p-3">
            <div class="header col-xl-3 mb-3 z-index-4">
                <h1>Special Thanks</h1>
                <p>This game has been the collaboration of a lot of people. We are going to try to capture them all here. Apologies if we inadvertently miss anyone.</p>
            </div>
            <div class="col-xl-9 z-index-4">
                <div class="list-group list-group-flush p-3 mb-3 bg-secondary">
                    <div class="list-group-item bg-transparent">
                        <p>
                            Thanks to the following for questions, fact checking, contributions of prizes, other assistance, and being live action QR codes.
                        </p>
                        <p class="text-center">
                            Mandie Aadland | Phil Alberton | Jordi Alonzo | Kellogg Booth | Walt Bransford | Maxine Brown | Erik Brunvand | Leona Caffey | Robert Campbell | Wayne Carlson | AJ Christensen | Carolina Cruz-Neira | Jenny Dana | Tom Defanti | Nick England | Jim Foley | John Fujii | Andrew Glassner | Julian Gómez | Aaron Hosier | John F. Hughes | Dave Kasik | Ed Kramer | Brad Lawrence | Tonya Machaj | Terrence Masson | Bonnie Mitchell | Adele Newton | Theresa O'Brien | Scott Owen | Dana Plepys | Alyn Rockwood | Mikki Rose | Peter Segal | Stephen Spencer | David Spoelstra | Ben Tayler | Mary Whitton | Brian Wyvill
                        </p>
                    </div>
                    <div class="list-group-item bg-transparent">
                        Special thanks to Dave Kasik, for sharing an advanced copy of the upcoming special issue of IEEE CG&A titled “The Big 50: Celebrating 50 ACM SIGGRAPH Conferences” which provided much inspiration for several of the questions in this game.
                    </div>
                    <div class="list-group-item bg-transparent">
                        <p>And even more special thanks to Terrence Masson M.F.A. the MFA Computer Arts Chair at the School of Visual Arts in New York and Rob Campbell, Director of Operations, SVA MFA Computer Arts for their generous donation of beautiful backpacks for the Scavenger Hunt winners!</p>
                        <p>Check them out at <a href="https://sva.edu/academics/graduate/mfa-computer-arts">https://sva.edu/academics/graduate/mfa-computer-arts</a></p>
                    </div>
                    <div class="list-group-item bg-transparent">
                        And, of course, thanks to ACM SIGGRAPH for agreeing to fund this as a special project.
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-secondary p-3">
            <div class="header col-xl-3 mb-3 z-index-4">
                <h1>Created by</h1>
            </div>
            <div class="col-xl-9 z-index-4 z-index-4">
                <ul class="list-group list-group-flush bg-secondary p-3 text-center">
                    <li class="list-group-item bg-transparent">Lou Harrison: Scavenger Hunt Chair</li>
                    <li class="list-group-item bg-transparent">Jim Kilmer: Pathfinders Chair</li>
                    <li class="list-group-item bg-transparent">Brian Barrett: Developer</li>
                    <li class="list-group-item bg-transparent">Kat Swenski: Pathfinders</li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {

}
