@using ScavHunt.Data.Models;
@inject LeaderboardService leaders;

<div class="container">
    <div class=" position-relative overflow-hidden">
        <div class="position-absolute line-bg">
        </div>
        <div class="row spacer bg-primary p-3">
            <div class="header col-xl-4 mb-3">
                <h1>Scavenger Hunt<br />SIGGRAPH 2023</h1>
                <div>
                    This is some info about the scavanger hunt.
                </div>
            </div>
            <div class="col-xl-8 my-auto">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-secondary">Scan QR Codes</li>
                    <li class="list-group-item bg-secondary">Answer Trivia</li>
                    <li class="list-group-item bg-secondary">Win Prizes</li>
                </ul>
            </div>
        </div>
        <div class="row spacer bg-secondary p-3">
            <div class="header col-xl-4 mb-3">
                <h1>Register</h1>
                <a class="btn btn-primary btn-interactable mt-auto" href="#">Login or Register</a>
            </div>
            <div class="col-xl-8 my-auto">
                <h3>Basic Rules</h3>
                <div class="list-group list-group-flush ps-3 mb-3">
                    <div class="list-group-item bg-transparent">You must be a SIGGRAPH 2023 conference attendee</div>
                    <div class="list-group-item bg-transparent">No cheating</div>
                    <div class="list-group-item bg-transparent">No cheating</div>
                    <div class="list-group-item bg-transparent">No cheating</div>
                </div>
                <a href="/info/rules" class="btn btn-primary btn-interactable ms-auto">For full rules click here.</a>
            </div>
        </div>
    </div>
    <div class="row bg-white p-3">
        <div class="header col-xl-3 mb-3">
            <h1>Leaderboard</h1>
            <div>
                The top participants will recieve prizes at the end of the conference.
            </div>
        </div>
        <div class="col-xl-9">
            <Leaderboard />
        </div>
    </div>
</div>

@code {

    List<Player>? Leaderboard { get; set; }
    int PlayerPosition { get; set; } = -1;


    protected override async Task OnInitializedAsync()
    {
        Leaderboard = await leaders.ShortLeaderboard();
    }
}