@using ScavHunt.Data.Models;
@inject LeaderboardService leaders;

<div class="container">
    <div class=" position-relative overflow-hidden">
        <div class="position-absolute line-bg">
        </div>
        <div class="row spacer bg-primary p-3">
            <div class="header col-xl-6 m-3">
                <h1 class="mx-1">SIGGRAPH 2023 Scavenger Hunt</h1>
                <div class="h6 mx-1">
                    The 50th International Conference & Exhibition on Computer Graphics & Interactive Techniques
                </div>
            </div>
            @*<div class="col-xl-8 my-auto">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-secondary">Scan QR Codes</li>
                    <li class="list-group-item bg-secondary">Answer Trivia</li>
                    <li class="list-group-item bg-secondary">Win Prizes</li>
                </ul>
            </div>*@
        </div>
        <div class="row spacer bg-secondary p-3">
            <div class="header col-xl-4 mb-3">
                <div class="d-flex flex-column justify-content-evenly h-100">
                        <a class="btn btn-lg btn-primary btn-interactable mx-auto col-12 col-md-6 mb-3" href="/Identity/Account/Login">Login</a>
                        <a class="btn btn-lg btn-primary btn-interactable mx-auto col-12 col-md-6" href="/Identity/Account/Register">Register</a>
                    </div>
            </div>
            <div class="col-xl-8 my-auto">
                <h3>Basic Info</h3>
                <div class="list-group list-group-flush ps-3 mb-3">
                    <div class="list-group-item bg-transparent">You must be a SIGGRAPH 2023 conference attendee</div>
                    <div class="list-group-item bg-transparent">Scan QR codes throughout the conference</div>
                    <div class="list-group-item bg-transparent">Answer Questions</div>
                    <div class="list-group-item bg-transparent">Get Points</div>
                    <div class="list-group-item bg-transparent">Win Prizes</div>
                </div>
                <a href="/info/info" class="btn btn-primary btn-interactable ms-auto">For full info click here.</a>
            </div>
        </div>
    </div>
    <div class="row bg-white p-3">
        <div class="header col-xl-3 mb-3">
            <h1>Leaderboard</h1>
            <div>
                The top participants will recieve prizes at the end of the conference.
            </div>
        </div>
        <div class="col-xl-9">
            <Leaderboard />
        </div>
    </div>
</div>

@code {

    List<Player>? Leaderboard { get; set; }
    int PlayerPosition { get; set; } = -1;


    protected override async Task OnInitializedAsync()
    {
        Leaderboard = await leaders.ShortLeaderboard();
    }
}