@using Microsoft.AspNetCore.Identity
@using ScavHunt.Data.Models;
@inject SignInManager<ScavhuntUser> SignInManager
@inject UserManager<ScavhuntUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<nav class="flex-column">
@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-item px-3">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <span class="oi oi-person" aria-hidden="true"></span>Account
        </a>
    </div>
    <div class="nav-item mx-3">
        <form class="col-auto" method="post" action="/Identity/Account/LogOut">
            <input type="hidden" name="name" value="value" />
            <a class="nav-link cursor-pointer" onclick="this.parentNode.submit();">
                <span class="oi oi-account-logout" aria-hidden="true"></span>Log out
            </a>
        </form>
    </div>
}
else
{
    <div class="nav-item px-3">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">
            <span class="oi oi-person" aria-hidden="true"></span>Register
        </a>
    </div>
    <div class="nav-item px-3">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">
            <span class="oi oi-account-login" aria-hidden="true"></span>Login
        </a>
    </div>
}
</nav>