@using Microsoft.AspNetCore.Identity
@using ScavHunt.Data.Models;
@inject SignInManager<ScavhuntUser> SignInManager
@inject UserManager<ScavhuntUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<nav class="flex-column">
@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-item px-3">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </div>
    <div class="nav-item px-3">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </div>
}
else
{
    <div class="nav-item px-3">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
    <div class="nav-item px-3">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}
</nav>